* {
  box-sizing: border-box;
}
:root {
  --primary-color: #ffb900;
  --font-heading: "Sen", sans-serif;
}
html {
  font-size: 62.5%;
}
body {
  font-size: 1.6rem;
  font-family: "Poppins", sans-serif;
}
/* active */

/* Common */
a {
  text-decoration: none;
}

.btn {
  display: inline-block;
  min-width: 118px;
  border-radius: 999px;
  padding: 0 16px;
  line-height: 50px;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 600;
  color: #fff;
  background: #171100;
}
.btn:hover {
  opacity: 0.9;
  cursor: pointer;
}
.heading {
  font-family: var(--font-heading);
  font-weight: 700;
  letter-spacing: -0.02em;
  color: #171100;
}

.heading.lv1 {
  font-size: 5.8rem;
  line-height: 1.17;
}

.heading.lv2 {
  font-size: 3.8rem;
  line-height: 1.26;
}
.main-content {
  width: 1170px;
  max-width: calc(100% - 24px);
  margin-left: auto;
  margin-right: auto;
}
.line-clamp {
  display: -webkit-box;
  -webkit-line-clamp: var(--line-clamp, 1);
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.line-clamp.line2 {
  --line-clamp: 2;
}
.break-all {
  word-break: break-all;
}
/* Header ===================================================================== */
.header {
  background: #fffcf4;
}
.header.fixed {
  position: sticky;
  top: -28px;
  z-index: 1;
}
.header .body {
  display: flex;
  align-items: center;
  padding: 36px 0 8px;
}
.nav {
  margin-left: auto;
}
.nav ul {
  display: flex;
}
.nav a {
  position: relative;
  padding: 8px 21px;
  font-size: 1.6rem;
  color: #5f5b53;
}
.nav a:hover,
.nav li.active a {
  text-shadow: 1px 0 0 currentColor;
  color: #171100;
}
.nav li.active a::after {
  content: "";
  position: absolute;
  bottom: 6px;
  left: 21px;
  display: block;
  width: 12px;
  height: 2px;
  border-radius: 1px;
  background: #171100;
}
.header .sign-up-btn {
  min-width: 144px;
}
.header .action {
  margin-left: 49px;
}
/* Hero============================================== */
.hero {
  padding: 56px 0 65px;
  background: #fffcf4;
}
.hero .body {
  display: flex;
}
.hero .media-block {
  width: 48%;
  position: relative;
}

.hero .media-block .img {
  display: block;
  width: 470px;
  height: 685px;
  border-radius: 20px;
  object-fit: cover;
  display: block;
}
.hero-summary {
  position: absolute;
  right: 0;
  bottom: 48px;
  width: 270px;
  padding: 24px;
  border-radius: 12px;
  background: #fff;
  box-shadow: 0px 16px 32px 0px rgba(0, 0, 0, 0.05);
}
.hero-summary .item {
  display: flex;
  margin-bottom: 14px;
  align-items: center;
}
.hero-summary .item:last-child {
  margin-bottom: 0;
}
.hero-summary .item .icon {
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 48px;
  width: 48px;
  height: 48px;
  background: #fff9e8;
  border-radius: 50%;
}
.hero-summary .item:nth-of-type(2) .icon {
  background: #fcefff;
}
.hero-summary .item:nth-of-type(3) .icon {
  background: #ebeaff;
}
.hero-summary .info {
  margin-left: 16px;
}
.hero-summary .info .label {
  color: #5f5b53;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.85;
}
.hero-summary .info .title {
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.7;
  color: #171100;
}
.hero .content-block {
  width: 52%;
  padding: 64px 0 0 130px;
}
.hero .desc {
  margin-top: 22px;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.67; /* 166.667% */
  color: #5f5b53;
}
.hero .cta-group {
  margin: 38px 0 48px;
  display: flex;
  align-items: center;
}
.hero-cta {
  background: var(--primary-color);
  min-width: 180px;
  padding: 6px 0;
  border-radius: 999px;
  color: #fff;
  font-size: 1.8rem;
  font-weight: 600;
}
.hero .watch-video {
  align-items: center;
  margin-left: 28px;
  display: flex;
  border: none;
  background: transparent;
  cursor: pointer;
}
.hero .watch-video .icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #fff;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.07);
}
.hero .watch-video span {
  margin-left: 14px;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.67; /* 166.667% */
  color: #171100;
}
.hero .stats strong {
  padding-right: 8px;
  font-family: var(--font-heading);
  font-size: 4.4rem;
  font-weight: 700;
  line-height: 1.23;
  color: #171100;
}
.hero .stats {
  margin-top: 8px;
}
.hero .stats strong + strong {
  margin-left: 28px;
}
/* Popular============================================================ */
.popular {
  padding: 65px 0;
  margin-top: 135px;
}

.popular-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.popular-top .desc {
  margin-top: 16px;
  width: 458px;
  font-size: 1.8rem;
  line-height: 1.67;
  color: #5f5b53;
}

.popular-top .controls {
  display: flex;
  gap: 18px;
}

.popular-top .control-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
  background: transparent;
}

.popular-top .control-btn:hover {
  color: #fff;
  background: var(--primary-color);
  cursor: pointer;
}
/* Course list */
.popular .course-list {
  margin-top: 55px;
  display: flex;
  gap: 30px;
}
.popular .course-item {
  flex: 1;
  border: 1px solid #e2dfda;
  background: #fff;
  border-radius: 12px;
}
.popular .course-item:hover {
  border-color: transparent;
  box-shadow: 0px 18px 36px 0px rgba(0, 0, 0, 0.05);
}
.popular .course-item .thumb {
  width: calc(100% + 2px);
  height: 278px;
  margin: -1px;
  object-fit: cover;
  border-radius: 12px 12px 0px 0px;
}
.popular .course-item .info {
  padding: 16px 22px 22px;
}
.popular .course-item .foot,
.popular .course-item .head,
.popular .course-item .rating {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.popular .course-item .title a {
  padding-right: 6px;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.67; /* 166.667% */
  color: #171100;
}
.popular .rating .value {
  margin-left: 6px;
  font-size: 1.6rem;
  line-height: 1.75;
  color: var(--primary-color);
}
.popular .course-item .desc {
  margin-top: 6px;
  font-size: 1.4rem;
  line-height: 1.86; /* 185.714% */
  color: #5f5b53;
}
.popular .course-item .foot {
  margin-top: 12px;
}
.popular .course-item .price {
  font-weight: 600;
  font-size: 1.8rem;
  line-height: 1.67; /* 166.667% */
  color: #171100;
}
.popular .course-item .book-btn {
  border: none;
}
.popular .course-item .foot .book-btn:hover {
  color: #fff;
  background: var(--primary-color);
}
/* Quote =========================================*/
.quote {
  margin-top: 135px;
  padding: 96px 135px;
  display: flex;
  background: #2e2100;
}
.student-block {
  width: 159px;
  height: 188px;
}
.student-block .image {
  display: block;
  width: 72px;
  height: 72px;
  object-fit: cover;
  border-radius: 50%;
}
.student-block .sub-title.heading {
  margin-top: 18px;
  color: #f7f7f7;
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 1.42; /* 141.667% */
}
.student-block .desc {
  margin-top: 4px;
  color: #bfbcb2;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.85; /* 185.714% */
}
.student-block .dash {
  margin-top: 28px;
  display: flex;
  gap: 6px;
}
.student-block .dash-btn {
  padding: 0px;
  background: transparent;
  border: none;
  color: #634700;
}
.quote-block {
  position: relative;
  display: flex;
  width: 770px;
  height: 188px;
  margin-left: auto;
}
.quote-block .quote-info {
  margin-top: auto;
  width: 740px;
  color: #fff;
  font-size: 2.6rem;
  font-style: italic;
  font-weight: 400;
  line-height: 1.53;
}
.quote-block .quotes {
  left: -30px;
  position: absolute;
  width: 30px;
  height: 28px;
}
